doctype html
html(lang='en')
 head
   title Mozilla Contributions
   link(rel="stylesheet", href="./styles.css", type="text/css")
   link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap", rel="stylesheet")
 body
   table
    thead
      tr
        th Date
        th Type
        th Description
    tbody
      each contribution in contributions
        tr
          td= contribution.createdAt.toDateString()

          if contribution.link
            td
              a(href=contribution.link)
                span= contribution.type
          else
            td= contribution.type

          td= contribution.description
